/*Geral*/
#body{
    background-image:url("../media/fundo.jpg");
    background-attachment: fixed;
    background-position: 0px center; 
    background-repeat: no-repeat;
    background-size: cover;
   
}

/*Index*/
.nav-item{
    font-size: 25px;
}
#textoCarousel1,
#textoCarousel2,
#textoCarousel3{
    font-size: 30px;
    text-shadow: 2px 2px 2px black; 
}
#textoDeApresentacao{
    background-color: #080E33;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    font-family:'Times New Roman';
    text-shadow: 2px 2px 2px black; 
}
#tituloSobrePlanos, #tituloNossosParceiros, #tituloEbbusiness{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family:'Times New Roman';
    text-align: center;
    text-shadow: 2px 2px 2px black; 
}
.card{
    margin-left: 88px;
    margin-right: 88px;
}

.card-bodyClassical{
    background-color:#BF7950 ;
    height: 120px;
    text-align: center;
    font-family:'Times New Roman';
    font-weight: bold;
    border-color:#BF7950 ;
}
.card-bodyExecutive{
    background-color:#CACED3 ;
    height: 120px;
    text-align: center;
    font-family:'Times New Roman';
    font-weight: bold;
    border-color:#CACED3 ;
}
.card-bodyFirstClass{
    background-color:#E8C60C ;
    height: 120px; 
    text-align: center;
    font-family:'Times New Roman';
    font-weight: bold;
    border-color:#E8C60C ;
}
#figurasParceirosBloco1 {
    background-position: center;
    margin-left: 100px;
}
.rodape {
    background-color:#3A403E;
    color: white;
    padding: 30px 0 20px 0; 
    font-size: 14px;
    text-align: center;   
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
}


/*Responsividade Personalizada*/
@media(max-width:800px) { 
    .carousel-inner,.carousel-item active,.imgCarousel{
        width: 100%;
        height: 240px;
    }
    #textoDeApresentacao{
        width: 100%;
        height: 240px;
    }
    #body{
        background-image:url("../media/fundo.jpg");
        background-attachment: fixed;
        background-position: 0px center; 
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    .card{
        margin-left: 30px;
        margin-right: 30px;
    }
    .card-bodyClassical{
        width: 100%;
        height: 150px;
    }
    .card-bodyExecutive{
        width: 100%;
        height: 150px;      
    }
    .card-bodyFirstClass{
        width: 100%;
        height: 150px;
    }
    .rodape{
        width: 100%;
        height: 200px;
    }
    #cards_a_empresa{
        width:700px;
        height: 800px;
    }   
    #cards_nossos_planos{
        width:102%;
        height: 600px;
    }
}
@media(max-width:768px) {
    .carousel-inner,.carousel-item active,.imgCarousel{
        width: 100%;
        height: 269px;
    }
    #textoDeApresentacao{
        width: 100%;
        height: 269px;
    }
    #body{
        background-image:url("../media/fundo.jpg");
        background-attachment: fixed;
        background-position: 0px center; 
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    .card{
        margin-left: 30px;
        margin-right: 30px;
    }
    .card-bodyClassical{
        width: 100%;
        height: 150px;
    }
    .card-bodyExecutive{
        width: 100%;
        height: 150px;      
    }
    .card-bodyFirstClass{
        width: 100%;
        height: 150px;
    }
    .rodape{
        width: 100%;
        height: 200px;
    }  
    #cards_a_empresa{
        width:650px;
        height: 700px;
    }   
    #cards_nossos_planos{
        width:102%;
        height: 600px;
    }
}
@media(max-width:414px) {
    .carousel-inner,.carousel-item active,.imgCarousel{
        width: 100%;
        height: 269px;
    }
    #textoDeApresentacao{
        width: 100%;
        height: 300px;
    }
    #body{
        background-image:url("../media/fundo.jpg");
        background-attachment: fixed;
        background-position: 0px center; 
        background-repeat: no-repeat;
        background-size: cover;       
    }
    .card{
        margin-left: 30px;
        margin-right: 30px;
    }
    .card-bodyClassical{
        width: 100%;
        height: 150px;
    }
    .card-bodyExecutive{
        width: 100%;
        height: 150px;      
    }
    .card-bodyFirstClass{
        width: 100%;
        height: 150px;
    }
    .rodape{
        width: 100%;
        height: 200px;
    }    
    #cards_a_empresa{
        width:300px;
        height: 1330px;
    }   
    #cards_nossos_planos{
        width:360px;
        height: 1500px;
    }
}

@media(max-width:375px) {
    .carousel-inner,.carousel-item active,.imgCarousel{
        width: 100%;
        height: 269px;
    }
    #textoDeApresentacao{
        width: 100%;
        height: 350px;
    }
    #body{
        background-image:url("../media/fundo.jpg");
        background-attachment: fixed;
        background-position: 0px center; 
        background-repeat: no-repeat;
        background-size: cover;      
    }
    .card{
        margin-left: 30px;
        margin-right: 30px;
    }
    .card-bodyClassical{
        width: 100%;
        height: 150px;
    }
    .card-bodyExecutive{
        width: 100%;
        height: 150px;      
    }
    .card-bodyFirstClass{
        width: 100%;
        height: 150px;
    }
    .rodape{
        width: 100%;
        height: 200px;
    }   
    #cards_a_empresa{
        width:280px;
        height: 1500px;
    }   
    #cards_nossos_planos{
        width:310px;
        height: 1500px;
    }
}
@media(max-width:360px){
    .carousel-inner,.carousel-item active,.imgCarousel{
        width: 100%;
        height: 240px;
    }   
    #textoDeApresentacao{
        width: 100%;
        height: 350px;      
    }
    #body{
        background-image:url("../media/fundo.jpg");
        background-attachment: fixed;
        background-position: 0px center; 
        background-repeat: no-repeat;
        background-size: cover;     
    }
    .card{
        margin-left: 30px;
        margin-right: 30px;
    }
    .card-bodyClassical{
        width: 100%;
        height: 150px;
    }
    .card-bodyExecutive{
        width: 100%;
        height: 150px;      
    }
    .card-bodyFirstClass{
        width: 100%;
        height: 150px;
    }
    .rodape{
        width: 100%;
        height: 200px;
    }   
    #cards_a_empresa{
        width:250px;
        height: 1520px;
    } 
    #cards_nossos_planos{
        width:310px;
        height: 3000px;
    }
    #textoCampo{
        font-size: 14px;
    }
    .form-group row{
        height: 3000px;

    }
}


/* A empresa*/
#titulo_a_empresa{
    color:white;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
    text-align: center;
    font-size: 50px;
}
#cards_a_empresa{
    margin-left: 50px;
    font-size: 20px;
}


/*Nossos Planos*/
#tabelaPrecosPlanos{
    margin-left:85px ;
    margin-right:85px ;
    font-size: 20px;
}
#tituloInformativoNossosPlanos{
    font-size: 40px;
    color: white;
    text-shadow: 4px 4px 4px black;
    font-family:'Times New Roman';
    font-weight: bold;
    text-align: center;
}



/*Contratar*/
#formularioContratar{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    height: 550px;
}
#elementosFormularioContratar{
    margin-left: 80px;
}
#tituloInformativoContratar{
    font-size: 28px;
    color: white;
    text-shadow: 4px 4px 4px black;
    font-family:'Times New Roman';
    font-weight: bold;
    text-align: center;
}


/*Fale Conosco*/
.was-validated{
    background-color: white;
    margin-left: 170px;
    margin-right: 170px;
    height: 330px;
    width: 1000px;
}
#elementosFormularioFaleConosco{
    margin-left: 50px;
    margin-right: 50px;
}
#tituloInformativoFaleConosco{
    font-size: 30px;
    color: white;
    text-shadow: 4px 4px 4px black;
    font-family:'Times New Roman';
    font-weight: bold;
    text-align: center;
}










