{% extends 'base.html' %}
{% block title %}
EBBUSINESS
{% endblock title %}
{% block content %}
<header>   
    <div class="banner">
        <h1>A EMPRESA</h1>
        <nav>
            <ul>                
                <li><a href="{% url 'index' %}" target="blank">Home</a></li>
                <li><a href="{% url 'nossos_planos' %}" target="blank">Nossos planos</a></li>
                <li><a href="{% url 'contratar' %}" target="blank">Contratar</a></li>
                <li><a href="{% url 'fale_conosco' %}" target="blank">Fale conosco</a></li>
                
            </ul>
        </nav>        
    </div>    
</header>
<br/>
<br/>
<h1><strong>EBBUSINESS</strong></h1>
<br/>
<br/>


    <div class="item_1">
        <br/>
        <br/>
        <h2><strong>Quem somos</strong></h2><br/>
            <p>A Ebbusiness foi fundada no ano de 2019 por um grupo de alunos empreendedores da Fatec Indaiatuba, com o 
                objetivo de se tornar pioneira no campo de viagens de negócios.</p>
            <p>Situada na cidade de Indaiatuba, interior de São Paulo a Ebbusiness atende a empresas de todo 
                território nacional.</p>
           

    </div>    
  
    <div class="item_2">
        <br/>
        <br/>
            <p><h2>Missão</h2>Facilitar as viagens a negócios.</p>
    </div>     
    <br/>
    <br/>
    <br/>   
    <div class="item_3">
        <br/>
    <br/>
            <p><h2>Visão</h2>Se tornar a maior prestadora de serviços de compra/reversa para viagens a negócio.</p>
    </div>     
    <br/>
<br/>
<br/>   
    <div class="item_4">
        <br/>
    <br/>
            <p><h2>Valores</h2>Ética;<br/>Compromisso;<br/>Comprometimento;<br/>Eficiência;<br/>Qualidade.</p>
    </div>                            
    <br/>
    <br/>
    <br/> 
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>




<div class="rodape"> 
<footer>
<p>Ebbusiness</p>
<p>Endereço: Rua Indaiatuba, nº 00 Jardim Indaiatuba , Indaiatuba - SP</p>
<p>Telefone: 1111-1111 Email: ebbusiness@ebusiness.com.br</p>
</footer>
</div>
{% endblock %}