{% extends 'base.html' %}
{% block title %}
EBBUSINESS
{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<header>    
    <nav class="navbar navbar-expand-lg navbar-dark"style="background-color: rgba(0, 0, 0, .5)"; >
        <a class="navbar-brand" href="#">EBBUSINESS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'a_empresa' %}">A empresa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'nossos_planos' %}">Nossos Planos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contratar' %}">Contratar</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'fale_conosco' %}">Fale conosco</a>
            </li>
          </ul>
        </div>
      </nav>   
</header>

<br/>
<br/>
<br/>
<br/>
 

<div id="tituloInformativoFaleConosco">
  <p>PREENCHA O FORMULÁRIO ABAIXO PARA ENVIAR-NOS SUA MENSAGEM.</p>
</div>


<br/>
<br/>
<br/>
<br/> 


<div id="FormularioFaleConosco">
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="form-group col-lg-8">
        <div class="col-formularioFaleConosco">
          {{form.contatoNome|as_crispy_field}}
        </div>        
      </div>
      <div class="form-group col-lg-4">
        <div class="col-formularioFaleConosco">
          {{form.contatoEmail|as_crispy_field}}
        </div>
      </div>
    </div>
    <div class="campoMensagem">
      {{form.contatoMensagem|as_crispy_field}}    
    </div>      
    <div class="row">
      <div class="form-group col-lg-6">
        <div class="formCheck">            
          <label class="form-check-label" for="gridCheck">
          *Campos obrigatórios.
          </label>
        </div>
      </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>


<div class="rodape"> 
  <footer>
    <p>Ebbusiness</p>
    <p>Endereço: Rua Indaiatuba, nº 00 Jardim Indaiatuba , Indaiatuba - SP</p>
    <p>Telefone: 1111-1111 Email: ebbusiness@ebusiness.com.br</p>
  </footer>
</div>

{% endblock %}