{% extends 'base.html' %}
{% block title %}
EBBUSINESS
{% endblock title %}
{% block content %}
<header>    
    <nav class="navbar navbar-expand-lg navbar-dark"style="background-color: rgba(0, 0, 0, .5)"; >
        <a class="navbar-brand" href="#">EBBUSINESS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'a_empresa' %}">A empresa</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'nossos_planos' %}">Nossos Planos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contratar' %}">Contratar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'fale_conosco' %}">Fale conosco</a>
            </li>
          </ul>
        </div>
      </nav>   
</header>


<br/>
<br/>
<br/>
<br/>
<br/>


<div id="tituloInformativoNossosPlanos">
  <p>CONHEÇA NOSSOS PLANOS:</p>
</div>


<br/>
<br/>
<br/>
<br/>
<br/>


<div id="cards_nossos_planos">
  <div class="card-group">
  <div class="card text-white bg-info col-lg-12" style="max-width: 24rem;">
    <div class="card-header"><h2><strong>Plano Classical</strong></h2></div>
    <div class="card-body">
      <h4><strong>Viagens</strong></h4>
      <p>Voos nacionais - Classe econômica - Check-in adiantado</p>
      <h4><strong>Hospedagem</strong></h4>
      <p>Hotéis até 2 estrelas</p>
      <h4><strong>Locomoção</strong></h4>
      <p>Seguro carro</p>
      <h4><strong>Financeiro</strong></h4>
      <p>Histórico</p>
    </div>
  </div>
  <div class="card text-white bg-info col-lg-12" style="max-width: 24rem;">
    <div class="card-header"><h2><strong>Plano Executive</strong></h2></div>
    <div class="card-body">
      <h4><strong>Viagens</strong></h4>
      <p>Voos nacionais e internacionais- Classe econômica e executiva - Check-in adiantado - Translado</p>
      <h4><strong>Hospedagem</strong></h4>
      <p>Hotéis até 3 estrelas</p>
      <h4><strong>Locomoção</strong></h4>
      <p>Seguro carro</p>
      <h4><strong>Financeiro</strong></h4>
      <p>Histórico - Aumento de DDL</p>
    </div>
  </div>
  <div class="card text-white bg-info col-lg-12" style="max-width: 24rem;">
    <div class="card-header"><h2><strong>First Class</strong></h2></div>
    <div class="card-body">
      <h4><strong>Viagens</strong></h4>
        <p>Voos nacionais e internacionais- Classe econômica, executiva e primeira classe - Check-in adiantado - Translado</p>
        <h4><strong>Hospedagem</strong></h4>
        <p>Hotéis até 5 estrelas</p>
        <h4><strong>Locomoção</strong></h4>
        <p>Seguro carro</p>
        <h4><strong>Financeiro</strong></h4>
        <p>Histórico - Aumento de DDL - Relatórios</p>
    </div>
  </div>
</div>
</div>


<br/>
<br/>
<br/>
<br/>


<div id="tabelaPrecosPlanos">
  <div class="table-responsive">
    <table class="table table-striped table-info table-hover ">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Plano Classical</th>
          <th scope="col">Plano Executive</th>
          <th scope="col">First Class</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Mensal</strong></td>
          <td>R$ 700,00</td>
          <td>R$ 4.620,00</td>
          <td>R$ 9.660,00</td>
        </tr>
        <tr>
          <td><strong>Semestral</strong></td>
          <td>R$ 875,00</td>
          <td>R$ 5.775,00</td>
          <td>R$ 12.075,00</td>
        </tr>
        <tr>
          <td><strong>Anual</strong></td>
          <td>R$ 1.225,00</td>
          <td>R$ 8.085,00</td>
          <td>R$ 16.905,00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<div class="rodape"> 
  <footer>
    <p>Ebbusiness</p>
    <p>Endereço: Rua Indaiatuba, nº 00 Jardim Indaiatuba , Indaiatuba - SP</p>
    <p>Telefone: 1111-1111 Email: ebbusiness@ebusiness.com.br</p>
  </footer>
</div>

{% endblock %}