{% extends 'base.html' %}
{% block title %}
EBBUSINESS
{% endblock title %}
{% block content %}
<header>    
    <div class="banner">
        <h1>NOSSOS PLANOS</h1>
        <nav>
            <ul>               
                <li><a href="{% url 'index' %}" target="blank">Home</a></li>
                <li><a href="{% url 'a_empresa' %}" target="blank">A empresa</a></li>
                <li><a href="{% url 'contratar' %}" target="blank">Contratar</a></li>    
                <li><a href="{% url 'fale_conosco' %}" target="blank">Fale conosco</a></li>
                           
            </ul>
        </nav>        
    </div>
</header>
<br/>

<h1><strong>CONHEÇA NOSSOS PLANOS:</strong></h1>

<div class="img1">
    <h1>Plano Classical</h1>
    <br/>
    <h2>Viagens</h2>
    <p>Voos nacionais - Classe econômica - Check-in adiantado</p><br/>
    <h2>Hospedagem</h2>
    <p>Hotéis até 2 estrelas</p><br/>
    <h2>Locomoção</h2>
    <p>Seguro carro</p><br/>
    <h2>Financeiro</h2>
    <p>Histórico</p><br/>
    <hr>
    <h1>Assinatura</h1><br/>
    <p><strong>Mensal: R$ 700,00</strong></p><br/>
    <p><strong>Semestral: R$ 4.620,00</strong></p><br/>
    <p><strong>Anual R$ 9.660,00</strong></p><br/>
</div>
<br/>
<br/>
<div class="img2">
    <h1>Plano Executive</h1>
    <br/>
    <h2>Viagens</h2>
    <p>Voos nacionais e internacionais- Classe econômica e executiva - Check-in adiantado - Translado</p><br/>
    <h2>Hospedagem</h2>
    <p>Hotéis até 3 estrelas</p><br/>
    <h2>Locomoção</h2>
    <p>Seguro carro</p><br/>
    <h2>Financeiro</h2>
    <p>Histórico - Aumento de DDL</p><br/>
    <hr>
    <h1>Assinatura</h1><br/>
    <p><strong>Mensal: R$ 875,00</strong></p><br/>
    <p><strong>Semestral: R$ 5.775,00</strong></p><br/>
    <p><strong>Anual R$ 12.075,00</strong></p><br/>
</div>
    <br/>
    <br/>
    <div class="img3">
        <h1>First Class</h1>
        <br/>
        <h2>Viagens</h2>
        <p>Voos nacionais e internacionais- Classe econômica, executiva e primeira classe - Check-in adiantado - Translado</p><br/>
        <h2>Hospedagem</h2>
        <p>Hotéis até 5 estrelas</p><br/>
        <h2>Locomoção</h2>
        <p>Seguro carro</p><br/>
        <h2>Financeiro</h2>
        <p>Histórico - Aumento de DDL - Relatórios</p><br/>
        <hr>
        <h1>Assinatura</h1><br/>
        <p><strong>Mensal: R$ 1.225,00</strong></p><br/>
        <p><strong>Semestral: R$ 8.085,00</strong></p><br/>
        <p><strong>Anual R$ 16.905,00</strong></p><br/>
    </div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="rodape"> 
    <footer>
        <p>Ebbusiness</p>
        <p>Endereço: Rua Indaiatuba, nº 00 Jardim Indaiatuba , Indaiatuba - SP</p>
        <p>Telefone: 1111-1111 Email: ebbusiness@ebusiness.com.br</p>
    </footer>
</div>
{% endblock %}